*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
# build 产物——用 build/ (无前导 /) 可以匹配所有子模块的 build 目录
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.jks.*
ueventd.rc.bak
a.log
/app/src/main/assets/*.mp3